@use '../utils/' as *;

/*----------------------------------------*/
/*  BREADCRUMB CSS START
/*----------------------------------------*/

.breadcrumb {
     $self : &;
    &__title {
        font-size: 70px;
        line-height: 1;
        letter-spacing: -0.04em;
        color: var(--tp-common-black);
        margin-bottom: 10px;

        @media #{$md} {
            font-size: 60px;
        }

        @media #{$sm} {
            font-size: 55px;
        }

        @media #{$xs} {
            font-size: 40px;
        }
    }

    &__list {
        & span {
            font-family: var(--tp-ff-space);
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            color: var(--tp-common-black);
            display: inline-block;

            &.dvdr {
                font-size: 6px;
                @include transform(translateY(-3px));
                display: inline-block;
                color: var(--tp-common-black);
                padding: 0 12px;

            }

            &:nth-last-child(2) {
                &.dvdr {
                    color: #6B6B7B;
                }
            }

            &:last-child {
                color: #6B6B7B;
            }

            & a {
                &:hover {
                    color: var(--tp-theme-1);
                }
            }
        }
    }

    &__content {
        & p {
            font-size: 20px;
            line-height: 1.3;
            color: #343438;
        }

        &-2 {
            & p {
                font-size: 18px;
                line-height: 1.56;
                color: #F0F0F5;
            }
        }
    }

    &__style-9 {
        #{$self} {
            &__list {
                margin-bottom: 20px;

                &.has-icon {
                    position: relative;
                    padding-left: 24px;

                    @include rtl {
                        padding-left: 0;
                        padding-right: 24px;
                    }

                    & .breadcrumb-icon {
                        position: absolute;
                        left: 0;
                        top: 4px;

                        & svg {
                            @include transform(translateY(-3px));
                        }

                        @include rtl {
                            left: auto;
                            right: 0;
                        }
                    }
                }

                & span {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--tp-text-1);
                    font-family: var(--tp-ff-roboto);
                    display: inline-block;

                    &.dvdr {
                        @include transform(translateY(0px));
                        color: var(--tp-text-1);
                        padding: 0 8px;
                    }

                    &:nth-last-child(2) {
                        &.dvdr {
                            color: var(--tp-text-1);
                        }
                    }

                    &:last-child {
                        color: var(--tp-text-1);
                    }
                }
            }

            &__title {
                color: var(--tp-common-black);
                font-size: 50px;
                margin-bottom: 13px;

                @media #{$xs} {
                    font-size: 40px;
                }
            }
        }
    }
}