@use '../utils/' as *;

/*----------------------------------------*/
/*  BREADCRUMB CSS START
/*----------------------------------------*/

.breadcrumb{
    &__title{
        font-size: 70px;
        line-height: 1;
        letter-spacing: -0.04em;
        color: var(--tp-common-black);
        margin-bottom: 10px;

        @media #{$md}{
            font-size: 60px;
        }

        @media #{$sm}{
            font-size: 55px;
        }

        @media #{$xs}{
            font-size: 40px;
        }
    }
    &__list{
        & span{
            font-family: var(--tp-ff-space);
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            color: var(--tp-common-black);
            display: inline-block;
            &.dvdr{
                font-size: 6px;
                @include transform(translateY(-3px));
                display: inline-block;
                color:  var(--tp-common-black);
                padding: 0 12px;
                
            }
            &:nth-last-child(2){
                &.dvdr{
                    color: #6B6B7B;
                }
            }
            &:last-child{
                color: #6B6B7B;
            }
            & a{
                &:hover{
                    color: var(--tp-theme-1);
                }
            }
        }
    }
    &__content{
        & p{
            font-size: 20px;
            line-height: 1.3;
            color: #343438;
        }
        &-2{
            & p{
                font-size: 18px;
                line-height: 1.56;
                color: #F0F0F5;
            }
        }
    }
}