@use '../utils/' as *;

/*----------------------------------------*/
/*  ALL Button CSS START
/*----------------------------------------*/

.sk-btn{
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	color: var(--tp-common-white);
	background: var(--tp-theme-1);
	text-align: center;
	font-family: var(--tp-ff-space);
	padding: 10px 30px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	letter-spacing: -0.02em;

	& i,
	& svg{
		margin-left: 5px;

		@include rtl{
			margin-left: 0;
			margin-right: 5px;
		}
	}

	& svg{
		@include transform(translateY(-2px));
	}

	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-purple);
	}
	&:focus{
		color: var(--tp-common-white);
	}

	&-black{
		background-color: var(--tp-common-black);
		color: var(--tp-common-white);
		font-size: 15px;
		padding: 8px 29px 10px;
		&:hover{
			background-color: var(--tp-theme-1);
			color: var(--tp-common-white);
		}
	}

}
.sk-btn-border{
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	color: var(--tp-common-black);
	font-family: var(--tp-ff-space);
	padding: 6px 18px;
	border: 1px solid var(--tp-border-5);
	text-align: center;

	& i{
		margin-left: 7px;

		@include rtl{}
		margin-left: 0;
		margin-right: 7px;
	}

	&:hover{
		color: var(--tp-common-white);
		background-color: var(--tp-common-black);
		border-color: var(--tp-common-black);
	}
}