@use '../utils/' as *;

/*----------------------------------------*/
/*  02. BUTTONS CSS START
/*----------------------------------------*/

#landing_page .tp-btn{
    display: inline-block;
    font-family: var(--tp-ff-space);
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: var(--tp-common-white);
    background-color: var(--tp-theme-1);
    text-align: center;
    border-radius: 6px;
    padding: 14px 29px 11px;
    & svg,
    & i{
        margin-right: 4px;
    }

    & svg{
        @include transform(translateY(-2px));
    }

    &:hover{
        background-color: var(--tp-common-white);
        color: var(--tp-common-black);
    }

    &-pink{
        padding: 12px 26px 13px;
        &:hover{
            background-color: var(--tp-common-black);
            color: var(--tp-common-white);
        }
    }

    &-black{
        background-color: var(--tp-common-black);
        padding: 12px 21px 11px;
        font-size: 14px;
        &:hover{
            background-color: var(--tp-theme-1);
            color: var(--tp-common-white);
        }
    }
}


/* hambur btn */
#landing_page .hamburger-btn{
	width: 34px;
	height: 24px;
	position: relative;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: 0;

	& span{
		display: inline-block;
		position: absolute;
		left: 0;
		background: var(--tp-common-white);
		height: 2px;
		width: 25px;
		opacity: 1;
		z-index: 1;
		border-radius: 10px;
		@include transition(.3s);
		&:nth-child(1){
			top: 0;
		}
		&:nth-child(2){
			top: 10px;
			width: 14px;
			left: 50%;
			@include transform(translateX(-50%));
		}
		&:nth-child(3){
			top: 20px;
			right: 0;
			left: auto;
		}
	}

	&:hover{
		& span{
			
			&:nth-child(1){
				left: 10px;
			}
			
			&:nth-child(3){
				right: 10px;				
			}
		}
	}
	
}


#landing_page .tp-btn-offcanvas{
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: var(--tp-common-white);
	background: var(--tp-theme-1);
	text-align: center;
	font-family: var(--tp-ff-space);
	padding: 9px 22px;
	letter-spacing: -0.02em;
	position: relative;
	z-index: 1;
	text-transform: capitalize;

	& i{
		padding-left: 5px;
	}
	&:hover{
		background-color: var(--tp-common-black);
		color: var(--tp-common-white);
	}
}