@use '../utils/' as *;

/*----------------------------------------*/
/*  06. DEMO CSS START
/*----------------------------------------*/

#landing_page .demo{
    $self: '.demo';
    &__section-title{
        padding: 0 30px;
        position: relative;
        & p{
            padding: 0 110px;

            @media #{$md, $sm, $xs}{
                padding: 0;
            }
        }
    }
    &__section-number{
        position: absolute;
        bottom: 1%;
        left: 19%;
        font-size: 400px;
        background: linear-gradient(180deg, rgba(99, 100, 219, 0.1) 40%, rgba(99, 100, 219, 0) 72.4%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        z-index: -1;

        @media #{$md}{
            left: 7%;
        }

        @media #{$sm}{
            left: 4%;
            font-size: 310px;
        }

        @media #{$xs}{
            bottom: 80%;
            left: 6%;
            font-size: 170px;
        }
    }
    &__features{
        & p{
            font-family: var(--tp-ff-space);
            font-weight: 500;
            font-size: 15px;
            position: relative;
            padding-left: 18px;
            &:not(:last-child){
                margin-right: 40px;
            }

            &::after{
                position: absolute;
                content: '';
                left: 0;
                top: 11px;
                width: 5px;
                height: 5px;
                background-color: var(--tp-theme-1);
                border-radius: 50%;
            }
        }
    }
    &__item{
        @include transition(.2s);
        background: var(--tp-common-white);
        box-shadow: 0px 10px 20px rgba(3, 4, 28, 0.08);
        border-radius: 10px;
        padding: 0 15px;

        &.demo-politician{
            #{$self}{
                &__thumb{
                    margin-top: -25px;
                }
            }
        }

        &:hover{
            @include transform(translateY(-10px));
        }
        &-bullet{
            line-height: 1;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: #E9E9EF;
            margin-bottom: 2px;
            margin-top: 11px;
        }
    }
    &__thumb{
        border-radius: 6px;
        overflow: hidden;

        & img{
            border-radius: 6px;
            width: 100%;
        }
    }
    &__title{
        font-size: 18px;
        letter-spacing: -0.01em;
        margin-bottom: 5px;

        & a{
            &:hover{
                color: var(--tp-theme-1);
            }
        }
    }
    &__tag{
        font-size: 13px;
        line-height: 10px;
    }
    &__content{
        padding-top: 18px;
        padding-bottom: 25px;
    }

}