@use '../utils/' as *;

/*----------------------------------------*/
/*  17. FIGMA CSS START
/*----------------------------------------*/

#landing_page .figma{
    &__wrapper{
        padding: 42px 50px 196px;
        background: #EAF3E8;
        border-radius: 14px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        @media #{$md}{
            width: 49%;
        }
    }
    &__title{
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.04em;
        margin-bottom: 24px;
    }
    &__icon{
        & img{
            border-radius: 50%;
            box-shadow: 0px 30px 50px rgba(3, 4, 28, 0.2);
        }
    }
    &__thumb{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
}