@use '../utils/' as *;

/*----------------------------------------*/
/*  03. HEADER CSS START
/*----------------------------------------*/

#landing_page .header{
    &__transparent{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 99;
    }
    &__padding{
        @media #{$md, $sm, $xs}{
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    &__sticky{
        &.header-sticky{
            position: fixed !important;
            left: 0;
            margin: auto;
            top: 0;
            width: 100%;
            box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
            z-index: 99;
            -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
            -webkit-box-shadow: 0px 4px 10px rgba(3, 4, 28, 0.1);
            box-shadow: 0px 4px 10px rgba(3, 4, 28, 0.1);
            background: var(--tp-common-white);

            & .main-menu{
                & ul{
                    & li{
                        & a{
                            color: var(--tp-common-black);

                            &::after{
                                color: var(--tp-common-black);
                            }

                            
                        }
                        &:hover{
                            & > a{
                                color: var(--tp-theme-1);

                                &::after{
                                    color: var(--tp-theme-1);
                                }
                            }
                        }
                    }
                }
            }

            & .header__btn{
                & .tp-btn{
                    &:hover{
                        background-color: var(--tp-common-black);
                        color: var(--tp-common-white);
                    }
                }
            }

            .logo{
                & .logo-light{
                    display: none;
                }
                & .logo-black{
                    display: block;
                }
            }

            .hamburger-btn{
                & span{
                    background-color: var(--tp-common-black);;
                }
                &:hover{
                    & span{
                        background-color: var(--tp-theme-1);
                    }
                }
            }
        }
    }

    &__black{
        & .logo{
            & .logo-light{
                display: none;
            }
            & .logo-black{
                display: block;
            }
        }
        & .main-menu{
            & ul{
                & li{
                    & a{
                        color: var(--tp-common-black);
                    }

                    &.has-dropdown{
                        & > a{
                            &::after{
                                color: var(--tp-common-black);
                            }
                        }
                    }
                    &:hover{
                        & > a{
                            color: var(--tp-theme-1);
                            &::after{
                                color: var(--tp-theme-1);
                            }
                        }
                    }
                }
            }
        }

        & .tp-btn-header{
            border-radius: 6px;
            padding: 14px 27px 11px;

            & span{
                margin-left: 23px;
                position: relative;

                &::after{
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: -14px;
                    @include transform(translate(-50%, -50%));
                    background-color: rgba($color: #fff, $alpha: .5);
                    width: 1px;
                    height: 18px;
                }
            }
            &:hover{
                background-color: var(--tp-common-black);
                color: var(--tp-common-white);
            }
        }

        & .hamburger-btn{
            & span{
                background-color: var(--tp-common-black);
            }

            &:hover{
                & span{
                    background-color: var(--tp-theme-1);
                }
            }
        }
    }
}



#landing_page .main-menu{

    @media #{$lg}{
        margin-right: 20px;
    }
    & ul{
        & li{
            position: relative;
            list-style: none;
            display: inline-block;
            margin-right: 34px;

            &:last-child{
                margin-right: 0;
            }

            & a{
                display: inline-block;
                font-size: 16px;
                font-weight: 500;
                color: var(--tp-common-white);
                padding: 27px 0;
                text-align: left;
                position: relative;
            }

			&.has-dropdown{
				& > a{
                    position: relative;
                    &::after{
                        content: '\f107';
                        @include transform(translateY(1px));
                        font-size: 14px;
                        color: var(--tp-common-white);
                        font-family: var(--tp-ff-fontawesome);
                        font-weight: 400;
                        margin-left: 5px;
                        display: inline-block;
                        @include transition(.3s);
                    }
                }
			}

            &.has-mega-menu{
                position: static;
            }

            /* submenu css start */
			& .submenu{
                position: absolute;
                top: 100%;
                left: 0;
                min-width: 200px;
                background: var(--tp-common-white);
                z-index: 99;
                visibility: hidden;
                opacity: 0;
                @include transform(scaleY(0));
                transform-origin: top center;
                @include transition(.3s);
                padding: 25px 0 5px;
                @include box-shadow(0px 20px 30px rgba(3, 4, 28, 0.1));
                background: var(--tp-common-white);
                
                & li{
                    display: block;
                    width: 100%;
					margin: 0;
                    padding: 0;
                    @include transform(translateY(-10px));

                    &.has-dropdown{
                        & > a{
                            &::after{
								position: absolute;
								top: 50%;
                                right: 25px;
                                @include transform(translateY(-50%) rotate(-90deg));
                                color: var(--tp-common-black);
                            }
                        }
                    }
                    & a{
                        position: relative;
                        z-index: 11;
						color: var(--tp-common-black);
                        font-weight: 400;
                        font-size: 14px;
                        padding: 0 25px;
                        padding-bottom: 1px;
                        width: 100%;
                        &::before{
                            display: block;
                            position: absolute;
                            content: '';
                            left: 25px;
                            top: 50%;
                            @include transform(translateY(-50%));
                            width: 0;
                            height: 1px;
                            background-color: var(--tp-theme-1);
                            @include transition(.3s);
                        }
                    }
                    & .submenu{
                        left: 100%;
                        top:0;
                        visibility: hidden;
                        opacity: 0;
                    }
                    &:hover{
                        & > a{
                            color: var(--tp-theme-1);
                            padding-left: 43px;
                            &::before{
                                width: 12px;
                            }
                            &::after{
                                color: var(--tp-theme-1);
                            }
                        }
                        & > .submenu{
                            @include transform(translateY(1));
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            /* mega menu start */
            & .mega-menu{
                position: absolute;
                top: 100%;
                left: 0;
                padding: 30px 40px;
                background: #FFFFFF;
                box-shadow: 0px 20px 30px rgba(3, 4, 28, 0.1);
                visibility: hidden;
                opacity: 0;
                @include transform(scaleY(0));
                transform-origin: top center;
                @include transition(.3s);
                z-index: 99;
                & li{
                    float: left;
                    width: 25%;
                    margin-right: 0;
                    text-align: left;
                    & .mega-menu-title{
                        font-weight: 500;
                        font-size: 12px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #7D7D82;
                        cursor: text;
                        padding: 0;
                        display: inline-block;
                        margin-bottom: 10px;

                        &::before{
                            display: none;
                        }
                    }

                    & ul{
                        & li{
                            width: 100%;
                            float: none;
                            margin-bottom: 2px;

                            &:last-child{
                                margin-bottom: 0;
                            }

                            & a{
                                font-weight: 400;
                                font-size: 14px;
                                color: var(--tp-common-black);
                                padding: 0;
                                position: relative;
                                &::before{
                                    position: absolute;
                                    content: '';
                                    left: 0;
                                    right: auto;
                                    top: 50%;
                                    bottom: auto;
                                    @include transform(translateY(-50%));
                                    width: 0;
                                    height: 1px;
                                    background-color: var(--tp-theme-1);
                                    @include transition(.3s);
                                }
                            }                           
                        }
                    }
                    &:hover{
                        & > .mega-menu-title{
                            color: var(--tp-theme-1);
                            padding-left: 0;
                            
                        }

                        & > a{
                            color: var(--tp-theme-1);
                            padding-left: 18px;
                            &::before{
                                width: 12px;
                            }
                        }
                    }
                }
            }

            &:hover{
				& > a{
					color: var(--tp-common-white);
					&::after{
						color: var(--tp-common-white);
					}
				}
				& > .submenu{
					visibility: visible;
					opacity: 1;
                    @include transform(scaleY(1));
				}
				& .mega-menu{
					visibility: visible;
					opacity: 1;
                    @include transform(scaleY(1));
				}
			}
        }
    }
    &-underline{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}

#landing_page > .logo{
    & .logo-black{
        display: none;
    }
}