@use '../utils/' as *;

/*----------------------------------------*/
/*  22. SUPPORT CSS START
/*----------------------------------------*/

#landing_page .support{
    &__wrapper{
        padding: 45px 45px 27px;
        background: #DFEAE5;
        border-radius: 14px;

        @media #{$xs}{
            margin-bottom: 20px;
        }
    }
    &__title{
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        margin-bottom: 30px;
    }
    &__thumb{

    }
}