@use '../utils/' as *;

/*----------------------------------------*/
/*  21. UPDATE CSS START
/*----------------------------------------*/

#landing_page .update{
    &__wrapper{
        position: relative;
        z-index: 1;
        border-radius: 14px;
        overflow: hidden;
        padding: 43px 50px 13px;

        @media #{$lg}{
            padding: 43px 50px 30px;
        }

        @media #{$md}{
            width: 49%;
        }
    }   
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__title{
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.04em;
        margin-bottom: 13px;

        @media #{$lg}{
            margin-bottom: 29px;
        }
    }
    &__thumb{
        & img{
            @media #{$lg, $xs}{
                width: 100%;
            }
        }
    }
}